.card {
  padding: 2rem;
}

.letter {
  height: 2rem;
  min-width: 2rem;
  padding: 1rem;
  box-shadow: 0 8px 12px 0 rgba(31, 38, 135, 0.37);
  border-radius: 2rem;
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
}
