.list{
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    max-height: 60vh;
    flex-direction: column;
}

.option{
    display: flex;
    flex: 1 1 auto;
    gap: 1rem;
    margin:1rem;
}