.title {
  padding-left: 1rem;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 100;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.option {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  flex-wrap: wrap;
  align-items: center;
  animation: fade-in 0.5s ease-in;
  text-transform: capitalize;
}

@keyframes fade-in {
  from {
    opacity: 0;
  } /* Starting state: hidden */
  to {
    opacity: 1;
  } /* Ending state: fully visible */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .list {
    flex-wrap: nowrap;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .list {
    flex-wrap: wrap;
    max-height: 500px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .list {
    flex-wrap: wrap;
    max-height: 500px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .list {
    flex-wrap: wrap;
    max-height: 500px;
  }
}
