.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.option {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  flex-wrap: wrap;
  animation: fade-in 0.5s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  } /* Starting state: hidden */
  to {
    opacity: 1;
  } /* Ending state: fully visible */
}
