.logo {
  height: 6rem;
  padding: 1.5rem;
  will-change: filter;
  transition: filter 300ms;
  fill: white;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.appName {
  margin: 0;
}

.author {
  margin: 0;
  font-weight: 100;
  font-style: italic;
}
