:global(#root) {
  max-width: 2048px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.question-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--app-background);
}

.main {
  height: 100%;
  justify-items: center;
}

.answer {
  border-radius: 10px;
  width: fit-content;
  min-width: 100px;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-weight: 100;
  font-style: italic;
  padding: 1rem;
}

.answer-area {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  flex-wrap: wrap;
  max-width: 75%;
}

.button-group {
  display: flex;
  gap: 5px;
}

.input-group {
  display: flex;
  gap: 5px;
  margin-top: 3rem;
}

.current-letter {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 4rem;
  background-color: pink;
  color: red;
}
